.delete{
    background: rgb(128,0,128);
    background: linear-gradient(90deg, rgba(128,0,128,1) 35%, rgba(0,212,255,1) 100%);
    h1{
        font-size: 3rem;
        color: #ADFF2F;
    }

    div{
        display:flex; 
        justify-content: space-around;
    }

    button{
        margin: 1rem;
    }
}

.data{
    margin: 1rem;
    list-style: none;
    color: #ADFF2F;
    border: 1px solid #ADFF2F;
    
}