@use 'reboot';

body{
    width: 480px;
    margin: 0 auto;
}

svg{
    padding: 4rem;
    color: purple;
}


#app{
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.todo-header{
    background-color: teal;
}

.warning span{
    color: red;
}

.warning h1{
    font-size: 3rem;
    padding: 1rem 0 2rem 0;
}

a{
    background-color: teal;
    text-decoration: none;
    color: yellowgreen;
    padding: 1rem;
    border-radius: 5px;
}

.item{
    border: 2px solid teal;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.buttons{
    flex:wrap;
}

button{
    width: 100%;
    background-color: purple;
    color: yellowgreen;
    margin-bottom: 1rem;
}

.data li{
    list-style: none ;
    text-align: start;
    
}

.completed{
    color: green;
}

.appBar{
    background: teal;
    padding-top: 1rem;
}
.appBar button{
    width: 25%;
}



