@use 'reboot';

body{
    width: 480px;
    margin: 0 auto;
}

#app{
    background: rgb(128,0,128);
    background: linear-gradient(90deg, rgba(128,0,128,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    padding-bottom: 3rem;
}

svg{
    padding: 4rem;
    color: #ADFF2F;
}

h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ADFF2F;
}

.warning h1{
    font-size: 3rem;
    padding: 1rem 0 2rem 0;
    color: red;
}

a{
    text-decoration: none;
    color: #ADFF2F;
}

.item{
    border: 2px solid #ADFF2F;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #ADFF2F;
}

.buttons{
    flex:wrap;
}

button{
    width: 100%;
    background-color: #800080;
    color: #ADFF2F;
    margin-bottom: 1rem;
}

.data li{
    list-style: none ;
    text-align: start;
    
}

.not-completed{
    color: red;
}

.completed{
    color: #00FA9A;
}

.appBar{
    
    padding-top: 1rem;
}
.appBar button{
    width: 25%;
}





