.addHeader{
    background: rgb(128,0,128);
    background: linear-gradient(90deg, rgba(128,0,128,1) 35%, rgba(0,212,255,1) 100%);
    h1{
        font-size: 3rem;
        color: #ADFF2F;
    }
}

.add{
    color: #ADFF2F;
    padding: 1rem;
    background: rgb(128,0,128);
    background: linear-gradient(90deg, rgba(128,0,128,1) 35%, rgba(0,212,255,1) 100%);

    button{
        margin: 1rem;
    }

    div>div{
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }

    div:last-child{
        display: flex;
    }

    input{
        border-radius: 5px;
        border: 1px solid #ADFF2F;
    }
}